<body>
    <div class="cadre">
   
      <main>
        <div class="position"> 
  
          <h1> Simplon's Drink</h1>
          <p> Buvons Bien ensemble</p>
            <a href="#" routerLink='/signin'>Connexion</a>
                <a href="#" routerLink='/signup' class="champs"> Inscription</a>
                <a href="#" routerLink="/signup" class="btn btn-success" >Inscription</a>
                <div> Il faut s'inscrire puis aller sur connexion</div>
        </div>
  
      </main>
    </div>
  </body>