<app-navbar></app-navbar>



<div class="container">
    <h2> Liste des commandes</h2>



    <table class="table">
        <tr class="cadretitre">
            <th>ID</th>
            <th>nom consommateur</th>
            <th>quantité:</th>
            <th>date</th>
            <th>nom produit</th>
           <th width="220px">Action</th>
        </tr>
        <tr *ngFor="let commande of commandes">
            <td>{{ commande._id }}</td>
            <td>{{commande.name|uppercase}}</td>
            <td>{{commande.quantity}}</td>
            <td>{{commande.date|date:'shortDate'|lowercase}}</td>
            <td>{{commande.nameprod|uppercase}}</td>

            <td>
                <!-- <a href="#" [routerLink]="['/product/', product.id, 'view']" class="btn btn-info">View</a> -->

                <button class="btn2" (click)="deleteCommandes(commande._id)">retirer de la liste</button>
            </td>
        </tr>
    </table>
    <!-- <div style="font-weight: bold; margin-left: 20%;margin-top: 2%;" routerLink="/accueil"> Retour Accueil</div> -->
</div>




<app-footer></app-footer>
